# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment
.env
.env.*
!.env.example

# Vercel files
.vercel/

# System files
.DS_Store
Thumbs.db
